{
  parser: "babel-eslint",
  plugins: ["react"],
  rules: {
    "react/prop-types": ["warn"]
  },
  extends: ["eslint:recommended", "plugin:react/recommended"],
  env: {
    browser: true,
    node: true
  }
}

// vim:ft=javascript
